.background{
    background-color: #52391f;
  }

* {margin: 0; padding: 0;}
h1{
  color:#ffffff;
  font: bold 30px/1.5 Helvetica;
}


div {
  margin: 5px;
}

ul {
  list-style-type: none;
  width: 500px;
}

h3 {
  color:#fff09f;
  font: bold 20px/1.5 Helvetica;
}

li img {
  float: left;
  margin: 0 15px;
}

li p {
  color:#d6ffec;
  font: 200 12px/1.5 Georgia;
}

li {
  padding: 10px;
  overflow: auto;
}


li:hover {
  background: #261305;
  cursor: pointer;
}

.center{
    text-align:center;
}